[data-md-color-scheme=default],
[data-md-color-scheme=slate] {
    --md-primary-fg-color: #49a6cf;
    --md-primary-fg-color--dark: #377d9c;
}

.md-tabs {
    background-color: var(--md-primary-fg-color--dark);
}

/* Default, light theme */
[data-md-color-scheme=default] {
  --md-default-bg-color: #f6f6f6;
}

.topic { font-size: 200%; }

.thumb { width: 500px; }
.thumb-small { width: 250px; }
.psimg { width: 518px; }

.amazon { color: #ff9900; }
.printables { color: #ec703e; }
.thingiverse { color: #146ef0; }
.youtube { color: #ee0f0f; }

* {
    --hardware-color: #947bd6;
    --hardware-color--summary: #947bd619;
}

.md-typeset .admonition.hardware,
.md-typeset details.hardware {
  border-color: var(--hardware-color);
}
.md-typeset .hardware > .admonition-title,
.md-typeset .hardware > summary {
  background-color: var(--hardware-color--summary);
}
.md-typeset .hardware > .admonition-title::before,
.md-typeset .hardware > summary::before {
  background-color: var(--hardware-color);
  -webkit-mask-image: var(--md-admonition-icon--hardware);
          mask-image: var(--md-admonition-icon--hardware);
}
